@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* ✅ Custom colors */
  --color-button: #800F11;
  --color-button-hover: #A31217;
  --color-progress: #800F11;
  --color-accent: #800F11;
  --color-disabled: #c4c4c4;
  --color-disabled-hover: #a3a3a3;
  --color-button-text: #FFFFFF;

  /* ✅ Custom fonts */
  --font-title: 'Oswald', sans-serif;
  --font-description: 'Roboto', sans-serif;
  --font-subtitle: 'Roboto', sans-serif;
  --font-input: 'Poppins', sans-serif;
  --font--appointment-title: 'Poppins', sans-serif;
  --font-button: 'Anton', sans-serif;
  --font-gtitle: 'Poppins', sans-serif;
  --font-time: 'Monsetratt', sans-serif;
  --font-button2: 'Montserrat', sans-serif;
}

/* Remove default password reveal & clear icons in Chrome/Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
  appearance: none !important;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

html, body {
  height: auto;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', 'Roboto', 'Anton', 'Poppins', Arial, Helvetica, sans-serif;
}

/* globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}